@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5rem;
    color: #333; /* cinza mais escuro */
    background: #000 url("../imagens/fundo-baixo.jpg") no-repeat center bottom; /* a cor e a imagem de fundo podem ser colocadas no mesmo comando */
}

h1 {
    font-size: 4rem;
    padding: 1.5rem 0rem 2rem 0rem;
}

h2 {
    font-size: 3rem;
    padding: 1rem 0rem 1.5rem 0rem
}

p {
    margin: 0rem 0rem 2rem 0rem;
    line-height: 4rem; /* espaçamento entre linhas */
}

div#interface {
    max-width: 900px;
    min-width: 300px
    padding: 20px; /* sentido horário */
    background-color: rgba(255, 255, 255, 0.90); /* o máximo das cores do rgb somadas dão branco, e a última letra é para medir a quantidade de transparência */
    margin: auto; /* centraliza a margem */
}

aside#logo-menu {
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

header img {
    margin: 12px 0px 10px 0px;
    width: 80%;
}

header, section, article, .imagem, section {
    margin: 0px 0px 15px 0px;
}

nav ul li {
    list-style: none;
    line-height: 4rem;
    border-bottom: 0.2rem solid #ccc;

}

nav ul li a {
    padding: 2rem 0rem 2rem 2rem;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    display: block;
    font-size: 2.3rem;
    transition: all 0.3s ;
}

nav ul li a:hover {
    color: #333;
    background-color: #cecece;
    text-indent: 4rem; /* ele faz a palavra ir para o lado na hora que o mouse passar */
}

section {
    width: 100%;
}

/* quando tem espaço quer dizer que cada item está dentro do outro, quando tem vírgula quer dizer que vai atacar coisas separadas */
article#texto, article#artigo-interno {
    width: 100%;
}

aside#imagens {
    width: 100%;
}

.imagem {
    width: 70%;
}

.video {
    width: 784px;
    height: 441px;
}

.mapa {
    width: 800px;
    height: 1000px;
}

footer {
    width: 100%;
    line-height: 50px;
    text-align: right;
    border-top: 1px solid #333;
}

footer a {
    color: #000;
    font-size: 1.7rem;
    font-style: italic;
    text-decoration: none;
}
